@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bun venit la Salonul Beauty Concept!</h1>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    <br />
    <h3>Descoperiți Frumusețea la "Beauty Concept":</h3>
    <br />
    <br />
    <h5 style="font-family: cursive; font-style: italic">Salonul nostru, un sanctuar al frumuseții unde eleganța se întâlnește cu îngrijirea personalizată. Vă invităm într-o călătorie inedită în lumea rafinată a serviciilor de înfrumusețare și relaxare.</h5>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h5 style ="font-family: cursive; font-style: italic">"Beauty Concept" este mai mult decât un salon de înfrumusețare; este un concept de frumusețe personalizat pentru fiecare client. Intră în lumea noastră și descoperă cum putem sărbători și evidenția frumusețea ta unică.</h5style>
</div>
