@page
@model Salon_Infrumusetare.Pages.Specialisti.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Specialist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Specialist.ID" />
            <div class="form-group">
                <label asp-for="Specialist.Prenume" class="control-label"></label>
                <input asp-for="Specialist.Prenume" class="form-control" />
                <span asp-validation-for="Specialist.Prenume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specialist.Nume" class="control-label"></label>
                <input asp-for="Specialist.Nume" class="form-control" />
                <span asp-validation-for="Specialist.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specialist.Specialitate" class="control-label"></label>
                <input asp-for="Specialist.Specialitate" class="form-control" />
                <span asp-validation-for="Specialist.Specialitate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specialist.AnVechime" class="control-label"></label>
                <input asp-for="Specialist.AnVechime" class="form-control" />
                <span asp-validation-for="Specialist.AnVechime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specialist.Telefon" class="control-label"></label>
                <input asp-for="Specialist.Telefon" class="form-control" />
                <span asp-validation-for="Specialist.Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specialist.Instagram" class="control-label"></label>
                <input asp-for="Specialist.Instagram" class="form-control" />
                <span asp-validation-for="Specialist.Instagram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
